/*
colours used:
primary colour (green):  #e9faca
primary colour (green2): #A8C96F
secondary colour (pink): #f287b6
tertiary colour (orange): #f9a51b
*/

/*typography and colour (1.6)*/
*{
    box-sizing:border-box;
}
body{
    background-color: #e9faca;
    font-family: 'montserrat', sans-serif;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}

img {
    width: 100%;
}

a {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blueviolet;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:focus {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: underline;
}

.button{
    display:inline-block;
    background-color: #f9a51b;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 35px;
    border-bottom: 2px solid #f287b6;
    transition: 0.2s opacity;
}
.button:visited{
    opacity: 0.8;
    text-decoration: none;
}
.button:hover{
    opacity: 0.8;
    color: #ffffff;
    text-decoration:none;
}
.button:active{
    opacity: 0.8;
    color: #ffffff;
    text-decoration:underline;
}
.button:focus{
    opacity: 0.8;
    color: #ffffff;
    text-decoration:underline;
    border:2px solid #f287b6;
}

.button.contact{
    background-color:transparent;
    color:#f9a51b;
    text-transform: uppercase;
    border:2px solid #f9a51b;
}
.button.contact:hover{
    background-color:#f9a51b;
    color:#ffffff;
    text-transform: uppercase;
    border:2px solid #f9a51b;
}

/*Layout styling (1.7)*/
.container{
    padding: 0 15%;
}

.row{
    margin: 25px 0;
}

#work .row{
    padding-bottom: 25px;
    border-bottom: 1px solid #A8C96F;
}

#hero h1{
    text-align: center;
}

.logo{
    max-width: 250px;
}

header{
    background-color: #A8C96F;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

main{
    padding-top: 133px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display:inline-block;
}

nav > ul > li > a{
    display:inline-block;
    padding: 0px 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

nav > ul > li > a:visited {
    color: #ffffff;
}

nav > ul > li > a:hover {
    color: #ffffff;
    background-color: #f9a51b;
    border-radius: 35px;
}

nav > ul > li > a:active {
    color: #f287b6;
    background-color: #f9a51b;
}

nav > ul > li > a:focus {
    color: #f287b6;
}

#hero{
    background-color: #A8C96F;
    padding: 20px o;
    display: inline-block;
    width: 100%;
}

.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #A8C96F; 
	border: solid #2E4A1E 0; 
	box-shadow: 0 5px 14px rgba(21, 54, 9, 0.4)  ; 
	-webkit-box-shadow: 0 5px 14px rgba(21, 54, 9, 0.4)  ; 
	-moz-box-shadow: 0 5px 14px rgba(21, 54, 9, 0.4);
}