/*
colours used:
background colour (white): #F6F1EE
primary colour (green):  #4c5a0d
light primary (green): #87a117
secondary colour (pink): #f28093
tertiary colour (orange): #F49445
light tertiary (sand): :F49445
*/

/*TYPOGRAPHY AND COLOUR*/
*{
    box-sizing:border-box;
}
body{
    background-color: #F6F1EE;
    font-family: 'montserrat', sans-serif;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #2b2a2f;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    line-height: 1.5;
    font-weight: 400;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}



p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}



/* HERO */
#index-hero h1{
    color: #4c5a0da4;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
}
.bold{
    color: #4c5a0d;
}

#index-hero p{
    font-size: 20px;
}

img {
    width: 100%;
    height:100%;
}
#index-hero{
    padding: 20px 0 100px;
    display: inline-block;
    width: 100%;
}

/*LINKS AND BUTTONS*/
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(91, 91, 91);
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:focus {
    color: blue;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: underline;
}

.button{
    color:#87a117;
    background-color: #4c5a0d24;
    display:inline-block;
    font-weight: 400;
    padding: 10px;
    border-radius: 20px 20px 0 ;
    border: 2px solid #87a117;
    transition: 0.2s opacity;
}

.button:visited{
    opacity: 0.8;
    text-decoration: none;
    color: #87a117;
}
.button:hover{
    background-color: #f9a51b;
    opacity: 0.8;
    color: #ffffff;
    text-decoration: none;
}
.button:active{
    opacity: 0.8;
    color: #ffffff;
    text-decoration:underline;
}
.button:focus{
    opacity: 0.8;
    color: #ffffff;
    text-decoration:underline;
    border:2px solid #f287b6;
}

.button.contact{
    background-color:transparent;
    color:#f9a51b;
    text-transform: uppercase;
    border:2px solid #f9a51b;
}
.button.contact:hover{
    background-color:#f9a51b;
    color:#ffffff;
    text-transform: uppercase;
    border:2px solid #f9a51b;
}

/*Layout styling (1.7)*/
.container{
    padding: 0 5%;
}

.row{
    margin: 25px 0;
}
.row::after{
    content:"";
    clear: both;
    display: table;
}

#work .row{
    padding-bottom: 25px;
    border-bottom: 1px solid #A8C96F;
    text-align: left;
}



#skills h2{
    text-align: center;
}


.logo{
    max-width: 150px;
}

svg{
    max-width: 32px;
    height: auto;
}

.svgwho{
    width:100%;
    max-width: 100%;
    height:auto;
}


header{
    background-color: #F6F1EE;
    padding: 10px 0 4px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

main{
    padding-top: 56px;
}

footer{
    padding:10% 15%;
    text-align: center;
    margin-top: 133px;
    background-color: #7b6d7d57;
}


/*====================
     NAV STYLING
====================*/

nav > ul {

    list-style-type: none;
    
    padding: 0;
    
    margin: 0;
    
    }
       
    nav > ul > li > a{
    
    display:inline-block;
    
    padding: 0px 15px;
    
    text-transform: uppercase;
    
    font-weight: 700;
    
    color: #87a117;
    
    }
     
    
    nav > ul > li > a:visited {
    
    color: #87a117;
    
    }
    
      
    
    nav > ul > li > a:hover {
    
    color: #ffffff; 
    }

/* NAV TOGGLE */
.navtoggle li:not(:last-child) {
    display: none;
  }
/*hambuger menu*/
.navtoggle li .icon {
    position: absolute;
    right: 0px;
    top: 2px;
    font-size: 20px;
  }

.navtoggle, .navtoggle.responsive {
    position:relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }



.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	border: solid #ffffff 0; 
	box-shadow: 0 5px 14px rgba(179, 132, 30, 0.4)  ; 
	-webkit-box-shadow: 0 5px 14px rgba(54, 36, 9, 0.4)  ; 
	-moz-box-shadow: 0 5px 14px rgba(54, 9, 9, 0.4);
}

/*====================
     CASE STUDY 
====================*/

/* ==============================
Medium devices (640px and larger)
================================= */
[class*="col-"] {
    float:left;
    padding:10px;
}
@media only screen and (min-width: 640px) {
    header{
        text-align: unset;
        padding: 20px 0 13px;
      }
    nav {
        width: auto;
        float:right;
        margin-top: 4px;
    }

    main{
        padding-top: 99px;
    }

    #hero span{
        display: block;
    }
    .col-md-6{
        width: 50%;
    }

    .logo{
        min-width: 250px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav > ul > li {
        display:inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
      }
    
    .navtoggle li:last-child {
        display: none;
      }
    
    nav > ul {
        margin: 1em 0;
    }
    .parent {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 4px;
        }
        
        .div1 { grid-area: 1 / 2 / 2 / 3; 
            background-color: #f9a41bc9;
            border-radius: 5%;}
        .div2 { grid-area: 1 / 4 / 2 / 5; 
            background-color: #f287b5e5;
            border-radius: 5%;}
    
    #skills h3{
        text-align: center;
    }
    #index-hero h1{
        font-size: 80px;
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-4{
        width:33.33%;
    }
    .col-lg-5{
        width:41.66%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/*sun animation*/

@keyframes color-change{
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  /*nav animation*/
  /* Top and Bottom borders come in */
div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.under-construction{
    pointer-events: none;
    color: white;
    background-color: gray;
}